* {
  font-family: 'Gilroy-Bold', sans-serif;
}

:root {
  --Wei: #FFF;
  --Accent: #FBD784;
  --BG: #0B1D26;
}

.section-one {
  width: 100%;
  height: 2100px;
  background: linear-gradient(330deg, rgba(11, 29, 38, 0.00) 9%, var(--BG) 109%);
}

.head {
  display: flex;
  width: 100%;
  height: auto;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 58px;
  gap: 650px;
}

.head > nav {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.head__account {
  display: flex;
  gap: 8px;
}

.head__account > p,
.main__social > p,
li > a {
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

li > a {
  text-decoration: none;
}

.main__social > p {
  writing-mode: vertical-lr;
}

.main {
  display: flex;
  margin-top: 350px;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  gap: 380px;
}

.main__social {
  display: flex;
  flex-direction: column;
  width: 24px;
  gap: 24px;
}

.main__center {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section__background {
  background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 60%, var(--BG) 97%);
}

.section__background > img:nth-child(1) {
  z-index: -3;
  position: absolute;
}

.section__background > img:nth-child(2) {
  z-index: -2;
  margin-top: 468px;
  position: absolute;
}

.section__background > img:nth-child(3) {
  position: relative;
  z-index: -1;
  margin-top: 1172px;
}

.logo-name {
  color: var(--Wei);
 font-family: 'Chronicle Display', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

h1 {
  width: 950px;
  color: var(--Wei);
  font-family: 'Chronicle Display', sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 375;
  line-height: 100px; /* 113.636% */
  text-transform: capitalize;
}

.line_text {
  display: flex;
  gap: 32px;
  align-items: center;
}

.line_text > div {
  background-color: var(--Accent);
  width: 72px;
  height: 2px;
}

.line_text > p {
  color: var(--Accent);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.scroll_down {
  display: flex;
  gap: 10px;
}

.scroll_down > p {
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__right > div {
  width: 77px;
  height: 60px;
  text-align: center;
  border-right: 3px solid rgba(255, 255, 255, 0.5) ;
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__right > div:nth-child(1) {
  border-right: 3px solid white;
}

.section-two {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: auto;
  background: var(--BG);
  margin-top: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 1462px;
  height: auto;
  gap: 200px;
}

.content__block {
  display: flex;
  align-items: center;
  gap: 120px;
  width: 100%;
  height: 720px;
  justify-content: end;
}

.content_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 632px;
}

h2 {
  color: var(--Wei);
  font-family: Chronicle Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 375;
  line-height: normal;
}

.content_text > p {
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 177.778% */
}

.read-more {
  display: flex;
  gap: 16px;
}

.read-more > p {
  color: var(--Accent);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content__block > img {
  width: 566px;
  height: auto;
}

.number-one,
.number-two {
  position: absolute;
  color: var(--Wei);
  font-size: 240px;
  font-style: normal;
  font-weight: 700;
  line-height: 240px;
  opacity: 0.1;
  align-self: flex-start;
  justify-self: flex-start;

  margin-right: 1150px;
  margin-top: 30px;
}

.number-two {
  margin-top: 30px;
  margin-right: 400px;
}

h3 {
  color: var(--Wei);
  font-family: Chronicle Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: capitalize;
}

.footer__block-one  > p {
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-top: 24px;
}

.footer__block-one  > span {
  display: block;
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  opacity: 0.5;
  margin-top: 120px
}

footer {
  display: flex;
  width: 100%;
  height: 400px;
}

ul {
  display: block;
  height: 280px;
  list-style-type: none;
  margin-left: 350px;
  margin-top: 0px;
  margin-bottom: 50px;
}

h4 {
  color: var(--Accent);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 10px;
}

li {
  color: var(--Wei);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 16px;
}